 .post--img{
    width: 1200px;
    margin-top: 200px;
}

.post--container{
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 40px;
}

.post--title{
    font-size: 56px;
    font-family: 'Lora', serif;
}

.post--cat{
    font-size: 17px;
    font-family: 'Lora', serif;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    } 

    .post--auth--date--com{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        margin-top: 40px;
        font-family: 'Lora', serif;
        margin-bottom: 30px;    
        
        

    }

    .post--author, .post--date
    ,.post--icon--comment
    {
        margin-right: 40px;
    }

    .post--icon--comment{
        margin-left: 30px;
        
    }

    .post--icon{
        color: rgb(222, 161, 81) !important;
    }

    hr {
        margin: auto 400px;
        color: rgb(222, 161, 81) !important;

      }

      .post--content-div{
          line-height: 29px;
          font-size: 18.6px;
          text-align: left;
          margin-top: 20px;
          margin-bottom: 50px;
      }

      .post--content::first-letter{
          font-size: 40px;
          margin-left: 25px;
      }

      .post--comment-input{
        margin-bottom: 20px;
        margin-top: 20px;
       
       
      }
      .post--comment--div{
          margin-top: 20px;
        text-align: left;
        
       
      }
      .comment--email, .comment--name{
          height: 20px;
          margin-right: 10px;
          border: none !important;
          border-bottom: 2px solid black !important;
      }
      
      .post--comment{
          border: none !important;
          border-bottom: 2px solid black !important;
      }

      .post--comment--btn{
         padding: 14px;
         border-radius: 30px;
         background-color: burlywood;
         border: 2px solid;
         cursor: pointer;
         margin: 30px;
         font-weight: 900;
      }

      .post--comment--btn:hover{
        background-color: rgb(62, 51, 51);
        border: 2px solid wheat;
        color: white;
      }


      
.Recent--posts{
    border-top: 4px solid rgba(231, 220, 220, 0.606);
    border-bottom: 4px solid rgba(231, 220, 220, 0.606);
    max-width: 1080px;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    font-size: 20px;
}